@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie DB</h1>
    <p class="lead">This web application is a movie database with the functionality to have a user either add a movie manually, or scan/type a UPC and have the application return the information for the user.</p>
</div>

<div class="row">
    <p>The application returns movie data using APIs from UPCitemdb (<a>https://www.upcitemdb.com/api/</a>) and OMDb (<a>http://www.omdbapi.com</a>).</p>
</div>